package ${package.Controller};

import org.springframework.web.bind.annotation.RequestMapping;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Autowire
    private ${entity}Service ${entityLowerCase}Service;

    @ApiOperation(value = "保存任务")
    @RequestMapping("/Save${entity}")
    public ApiResult save${entity}(@Validated @RequestBody ${entity}SaveReqDTO request) {
            ${entityLowerCase}Service.save${entity}(request);
        return ApiResult.success();
    }


    @ApiOperation(value = "删除")
    @RequestMapping("/Delete${entity}")
    public ApiResult delete${entity}(@Validated @RequestBody ${entity}DeleteReqDTO request) {
        return ApiResult.success();
    }


    @ApiOperation(value = "列表查询")
    @RequestMapping("/Describe${entity}List")
    public ApiResult get${entity}List(@Validated @RequestBody Describe${entity}ListDTO request) {
        return ApiResult.success();
    }


    @ApiOperation(value = "分页查询")
    @RequestMapping("Describe${entity}List")
    public ApiResult "get${entity}List"(@Validated @RequestBody Describe${entity}ListDTO request) {
        return ApiResult.success();
    }
}
#end
