package ${package.RepositoryImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Repository}.${table.RepositoryName};
import ${superRepositoryImplClassPackage};

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.RepositoryImplName} : ${superRepositoryImplClass}<${table.mapperName}, ${entity}>(), ${table.RepositoryName} {

}
#else
public class ${table.serviceImplName} implements ${table.serviceName} {

}
#end
